<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionStringOracle"
         connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=____bayer.cs.vsb.cz____)(PORT=1521))(CONNECT_DATA=(SID=____ORACLE____)));User Id=____LOGIN____;Password=____PASSWORD____;"
         providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
